asgiref
autopep8
django==2.2.24
pycodestyle
pytz
sqlparse
Unipath
dj-database-url
python-decouple
gunicorn
whitenoise
sqlalchemy
webscreenshot
netaddr
pymetasploit3
psutil
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
